fastapi
uvicorn
transformers
torch
sentence-transformers
cython
numpy
pydantic
evidently
requests
schedule
beautifulsoup4
cloudscraper
lancedb
prometheus-fastapi-instrumentator
prometheus-client
mlflow
